<div class="container-fluid">
  <div aria-label="Page navigation" class="pagination-bar">
    <ul class="pagination hide">
      <li class="disabled btn-disabled prev">
        <a href="javascript:loadDocVersions('beginning')" data-toggle="tooltip" title="" aria-label="Previous" data-original-title="First page">
          <span aria-hidden="true">«</span>
        </a>
     </li>
     <li class="disabled btn-disabled prev">
     <a href="javascript:loadDocVersions('prev')" data-toggle="tooltip" title="" aria-label="Previous" data-original-title="Previous results page">
       <span aria-hidden="true">‹</span>
     </a>
    </li>
    <li class="next">
      <a href="javascript:loadDocVersions('next')" aria-label="Next" data-toggle="tooltip" title="" data-original-title="Next results page">
        <span aria-hidden="true">›</span>
      </a>
      </li>
      <li class="next">
        <a href="javascript:loadDocVersions('end')" aria-label="Next" data-toggle="tooltip" title="" data-original-title="Last page">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </div>
</div>
